<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ page.title }} | {{ site.title }}</title>
<!-- Global Styles -->
<link rel="stylesheet" href="{{ '/css/header.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/css/footer.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/css/header_and_footer.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/css/nav.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/css/styles.css' | relative_url }}">
<!-- Page Styles -->
{% include {{ page.layout }}/styles.html %}