<img
    class="cover" 
    src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2c/Flock_of_sheep.jpg/960px-Flock_of_sheep.jpg"
    alt="Simon Field photo"
>
<div class="text">
    <h2>About Me</h2>
    <p class="leader">
        Hello! I'm Simon Field&mdash;they/them&mdash;I am a Computer Science student at
        <a href="https://www.gonzaga.edu/">Gonzaga University</a>,
        and a passionate programmer, photographer, videographer, writer, and cyclist.
    </p>
    <h3>Interests</h3>
    <p>
        I am particularly interested in the intersection and fusion of computing and the humanities;
        <br/>
        My mission is to use data and computing to create versatile and effective solutions to present issues;
        <br/>
        I'm especially captivated by using
        <a href="https://en.wikipedia.org/wiki/Object-oriented_programming">Object-Oriented Programming</a>
        paradigms in solutions;
        <br/>
        <br/>
        Reach out to me with anything that excites you!
    </p>
    <h3>More Info</h3>
    <ul>
        <li><a href="https://en.wikipedia.org/wiki/Gonzaga_University">Gonzaga University</a> (Spokane, WA) - Computer Science 2029</li>
        <li><a href="https://en.wikipedia.org/wiki/Eastlake_High_School_(Washington)">Eastlake High School</a> (Sammamish, WA) - Class of 2025</li>
        <li><strong>Resume Coming Soon</strong></li>
    </ul>
    <h3>Simon Says&#8482;</h3>
    <ul>
        <li>"<em>I love this journey for you!</em>"</li>
        <li>"<em>Practice makes progress!</em>"</li>
        <li>"<em>Do it with passion, or don't do it at all.</em>" -JW</li>
    </ul>
</div>