<div class="alert border-3 border-warning bg-dark bg-opacity-10 text-dark alert-dismissible fade show">
    <div class="d-flex align-items-center">
        <i class="bi bi-info-circle-fill me-3 fs-2"></i>
        <div>
            <h5 class="mb-1">This Website is Under Construction!</h5>
            <p class="mb-0">Updates to this website are ongoing at this time.</p>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>