<h2>Links</h2>
<div class="grid-group">
    <h2 class="grid-group-header">Socials</h2>
    <div class="grid link-list">
        <!-- Link 1 -->
        <a href="mailto:{{ site.email-professional }}" target="_blank" class="card link-card">
            <img class="image"
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Thunderbird_2023_icon.png/250px-Thunderbird_2023_icon.png"
                alt="The Thunderbird e-mail client Logo">
            <div class="link-card-text">
                <h3>Professional E-mail</h3>
                <p>For business-related inquiries.</p>
            </div>
        </a>

        <!-- Link 2 -->
        <a href="mailto:{{ site.email-personal }}" target="_blank" class="card link-card">
            <img class="image"
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Thunderbird_2023_icon.png/250px-Thunderbird_2023_icon.png"
                alt="The Thunderbird e-mail client Logo">
            <div class="link-card-text">
                <h3>Personal E-mail</h3>
                <p>For personal inquiries.</p>
            </div>
        </a>

        <!-- Link 3 -->
        <a href="https://en.pronouns.page/@techkid" target="_blank" class="card link-card">
            <img class="image"
                src="https://pronouns.page/favicon.ico"
                alt="My Blog">
            <div class="link-card-text">
                <h3>Pronouns.page</h3>
                <p>I am proudly queer 🏳️‍🌈🏳️‍⚧️! View my identities on <em>Pronouns.page</em>.</p>
            </div>
        </a>

        <!-- Link 4 -->
        <a href="https://github.com/simon-techkid" class="card link-card">
            <img class="image"
                src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/github/github-original.svg"
                alt="The GitHub Logo">
            <div class="link-card-text">
                <h3>GitHub</h3>
                <p>See my projects and contributions.</p>
            </div>
        </a>

        <!-- Link 5 -->
        <a href="https://www.instagram.com/_simonfield/" target="_blank" class="card link-card">
            <img class="image"
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/95/Instagram_logo_2022.svg/250px-Instagram_logo_2022.svg.png"
                alt="The Instagram Logo">
            <div class="link-card-text">
                <h3>Instagram</h3>
                <p>I am an avid photographer and videographer. View my work on <em>Instagram</em>.</p>
            </div>
        </a>

        <!-- Link 6 -->
        <a href="https://linktr.ee/simon.techkid" target="_blank" class="card link-card">
            <img class="image" src="https://linktr.ee/favicon.ico" alt="The Linktree Logo">
            <div class="link-card-text">
                <h3>Linktree</h3>
                <p>I have more links on <em>Linktree</em>!</p>
            </div>
        </a>
    </div>
</div>

<div class="grid-group">
    <h2 class="grid-group-header">Professional</h2>
    <div class="grid link-list">
        <!-- Link 1 -->
        <a href="#" class="card link-card">
            <img class="image"
                src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/github/github-original.svg"
                alt="The GitHub Logo">
            <div class="link-card-text">
                <h3>GitHub</h3>
                <p>See my projects and contributions.</p>
            </div>
        </a>

        <!-- Link 2 -->
        <a href="#" class="card link-card">
            <img class="image"
                src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/linkedin/linkedin-original.svg"
                alt="The LinkedIn Logo">
            <div class="link-card-text">
                <h3>LinkedIn</h3>
                <p>Connect with me professionally.</p>
                <p><strong>Coming Soon!</strong></p>
            </div>
        </a>
    </div>
</div>
