<h2>Portfolio</h2>
<h3>Projects Coming Soon!</h3>
<div class="grid-group">
    <h2 class="grid-group-header">Current</h2>
    <div class="grid portfolio-grid">

        <article class="home-card portfolio-card">
            <img class="image" src="https://cdn.theatlantic.com/thumbor/J93FXmgZPJbY5FNh1FHuqgcVLQU=/1050x0:3750x2700/1080x1080/media/img/mt/2023/09/garfield_3/original.jpg" alt="Project 1 Screenshot">
            <div class="info">
                <h3>Project 1</h3>
                <p>Project 1 Description</p>
            </div>
        </article>

        <article class="home-card portfolio-card">
            <img class="image" src="https://cdn.theatlantic.com/thumbor/J93FXmgZPJbY5FNh1FHuqgcVLQU=/1050x0:3750x2700/1080x1080/media/img/mt/2023/09/garfield_3/original.jpg" alt="Project 2 Screenshot">
            <div class="info">
                <h3>Project 2</h3>
                <p>Project 2 Description</p>
            </div>
        </article>

        <article class="home-card portfolio-card">
            <img class="image" src="https://cdn.theatlantic.com/thumbor/J93FXmgZPJbY5FNh1FHuqgcVLQU=/1050x0:3750x2700/1080x1080/media/img/mt/2023/09/garfield_3/original.jpg" alt="Project 3 Screenshot">
            <div class="info">
                <h3>Project 3</h3>
                <p>Project 3 Description</p>
            </div>
        </article>

        <article class="home-card portfolio-card">
            <img class="image" src="https://cdn.theatlantic.com/thumbor/J93FXmgZPJbY5FNh1FHuqgcVLQU=/1050x0:3750x2700/1080x1080/media/img/mt/2023/09/garfield_3/original.jpg" alt="Project 4 Screenshot">
            <div class="info">
                <h3>Project 4</h3>
                <p>Project 4 Description</p>
            </div>
        </article>
    </div>
    <h2 class="grid-group-header">Past</h2>
    <div class="grid portfolio-grid">

        <article class="home-card portfolio-card">
            <img class="image" src="https://cdn.theatlantic.com/thumbor/J93FXmgZPJbY5FNh1FHuqgcVLQU=/1050x0:3750x2700/1080x1080/media/img/mt/2023/09/garfield_3/original.jpg" alt="Project 5 Screenshot">
            <div class="info">
                <h3>Project 5</h3>
                <p>Project 5 Description</p>
            </div>
        </article>

        <article class="home-card portfolio-card">
            <img class="image" src="https://cdn.theatlantic.com/thumbor/J93FXmgZPJbY5FNh1FHuqgcVLQU=/1050x0:3750x2700/1080x1080/media/img/mt/2023/09/garfield_3/original.jpg" alt="Project 6 Screenshot">
            <div class="info">
                <h3>Project 6</h3>
                <p>Project 6 Description</p>
            </div>
        </article>

        <article class="home-card portfolio-card">
            <img class="image" src="https://cdn.theatlantic.com/thumbor/J93FXmgZPJbY5FNh1FHuqgcVLQU=/1050x0:3750x2700/1080x1080/media/img/mt/2023/09/garfield_3/original.jpg" alt="Project 7 Screenshot">
            <div class="info">
                <h3>Project 7</h3>
                <p>Project 7 Description</p>
            </div>
        </article>

        <article class="home-card portfolio-card">
            <img class="image" src="https://cdn.theatlantic.com/thumbor/J93FXmgZPJbY5FNh1FHuqgcVLQU=/1050x0:3750x2700/1080x1080/media/img/mt/2023/09/garfield_3/original.jpg" alt="Project 8 Screenshot">
            <div class="info">
                <h3>Project 8</h3>
                <p>Project 8 Description</p>
            </div>
        </article>
    </div>
</div>