<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2c/Flock_of_sheep.jpg/960px-Flock_of_sheep.jpg" alt="Simon Field photo">
<div class="text">
    <h2>About Me</h2>
    <p>
        Hello! I'm Simon Field<sub>(they/them)</sub>!
        I am a Computer Science student at <a href="https://www.gonzaga.edu/">Gonzaga University</a>,
        and a passionate programmer, photographer, videographer and writer.
    </p>
    <br/>
    <p>Reach out to me with anything that excites you!</p>
</div>