<h2>Get in Touch</h2>
<h3>Contact</h3>
<p>Professional Email: <a href="mailto:simon@simonfield.software">simon@simonfield.software</a></p>
<p>Personal Emails:
    <a href="mailto:simon.techkid@outlook.com">simon.techkid@outlook.com,</a>
    <a href="mailto:simon.techkid@gmail.com">simon.techkid@gmail.com</a>
</p>
<h3>Social Media</h3>
<p>Pronouns: <a href="https://en.pronouns.page/@techkid" target="_blank">en.pronouns.page/@techkid</a></p>
<p>Instagram: <a href="https://www.instagram.com/_simonfield/" target="_blank">_simonfield</a></p>
<p>Discord: techkiid</p>
<p>GitHub: <a href="https://github.com/simon-techkid" target="_blank">simon-techkid</a></p>
<p>Last.fm: <a href="https://www.last.fm/user/ncserver" target="_blank">ncserver</a></p>
<p>Spotify: <a href="https://open.spotify.com/user/ncserver" target="_blank">ncserver</a></p>
<p>Bandcamp: <a href="https://bandcamp.com/simon_techkid" target="_blank">simon_techkid</a></p>
