header, footer {
    background: var(--primary);
    color: var(--white);
    text-align: center;
}

header a, footer a {
    color: var(--white);
}

header h1, footer h1, header p, footer p {
    text-shadow:
        0 0 0.3em var(--secondary),
        0 0 0.3em var(--black),
        0 0 0.3em var(--secondary);
}
