<!DOCTYPE html>
<!-- © {{ site.time | date: "%Y" }} {{ site.copyright }} -->
<html lang="en">
<head>
{% include global/global_head.html %}
</head>
<body>
{% include global/global_header.html %}

    <main class="main">          
        <section id="about">
{% include default/about.html %}
        </section>
        <section id="links">
{% include default/links.html %}
        </section>
        <section id="portfolio">
{% include default/portfolio.html %}
        </section>
    </main>

{% include global/global_footer.html %}
</body>
</html>
