<!DOCTYPE html>
<!-- © {{ site.time | date: "%Y" }} {{ site.copyright }} -->
<html lang="en">
<head>
{% include global/global_head.html %}
</head>
<body>
{% include global/global_header.html %}

    <div class="container main">          
        <section id="about" class="mb-5">
{% include default/about.html %}
        </section>
        <section id="links" class="mb-5">
{% include default/links.html %}
        </section>
        <section id="portfolio" class="mb-5">
{% include default/portfolio.html %}
        </section>
    </div>

{% include global/global_footer.html %}
</body>
</html>
