<!DOCTYPE html>
<!-- © {{ site.time | date: "%Y" }} {{ site.copyright }} -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ page.title }} | {{ site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ '/css/styles.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/css/header.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/css/nav.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/css/grid.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/css/card.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/css/about.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/css/links.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/css/portfolio.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/css/footer.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/css/header_and_footer.css' | relative_url }}">
</head>
<body>

    <header id="home">
        {% include header.html %}
    </header>
    <nav>
        <a href="#about">About</a> 
        <a href="#links">Links</a>
        <a href="#portfolio">Portfolio</a>
    </nav>

    <main class="main">
        <section id="about">
            {% include about.html %}
        </section>
        <section id="links">
            {% include links.html %}
        </section>
        <section id="portfolio">
            {% include portfolio.html %}
        </section>
    </main>

    <footer>
        {% include footer.html %}
    </footer>
</body>
</html>

