<!DOCTYPE html>
<!-- © {{ site.time | date: "%Y" }} {{ site.copyright }} -->
<html lang="en">
<head>
{% include global/global_head.html %}
</head>
<body>
{% include global/global_header.html %}

    <main class="main">
        <section id="readme">
            <h1>GitHub Profile</h1>
            <p>
                Welcome to my GitHub profile! This page details all technologies I'm familiar with, and some GitHub stats!
                <br/>
                This page can also be found on my GitHub profile.
            </p>
{%- capture readme_content -%}
{%- include_relative README.md -%}
{%- endcapture -%}
{{ readme_content | markdownify }}
        </section>
    </main>

{% include global/global_footer.html %}
</body>
</html>