<!DOCTYPE html>
<!-- © {{ site.time | date: "%Y" }} {{ site.copyright }} -->
<html lang="en">
<head>
{% include global/global_head.html %}
</head>
<body>
{% include global/global_header.html %}

    <div class="main">
        <section id="readme">
            <button class="btn">My GitHub</button>
            <button class="btn-secondary">My GitHub</button>
{%- capture readme_content -%}
{%- include_relative README.md -%}
{%- endcapture -%}
{{ readme_content | markdownify }}
        </section>
    </div>

{% include global/global_footer.html %}
</body>
</html>