<!DOCTYPE html>
<!-- © {{ site.time | date: "%Y" }} {{ site.copyright }} -->
<html lang="en">
<head>
{% include global_head.html %}
{% include global_styles.html %}
    <!-- Page Styles -->
    <link rel="stylesheet" href="{{ '/css/grid.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/css/card.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/css/about.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/css/links.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/css/portfolio.css' | relative_url }}">
</head>
<body>

    <header id="home">
{% include header.html %}
    </header>
    <nav>
{% include nav.html %}
    </nav>

    <main class="main">
        <section id="readme">
            <h1>GitHub Profile</h1>
            <p>
                Welcome to my GitHub profile! This page details all technologies I'm familiar with, and some GitHub stats!
                <br/>
                This page can also be found on my GitHub profile.
            </p>
{%- capture readme_content -%}
{%- include_relative README.md -%}
{%- endcapture -%}
{{ readme_content | markdownify }}
        </section>
    </main>

    <footer>
{% include footer.html %}
    </footer>

</body>
</html>