#about {
    overflow: auto; /* To contain the floated elements */
}

#about img.cover {
    float: left;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-top: 2rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

#about p.leader:first-letter {
    float: left;
    font-size: 2rem;
}

#about .text {
    font-size: 1.15rem;
}
