.card {
    overflow: hidden;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    border-radius: 0.75rem;
    width: 100%;
    margin: 0 auto;
    height: 100%;

    .card-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.15) !important;

    .icon-circle {
        transform: scale(1.1) rotate(3deg);
        box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    }

    .card-title {
        transform: scale(1.05);
        transition: transform 0.3s ease;
    }
}

:root {
    --icon-size-sm: 50px;
    --icon-size-md: 60px;
    --icon-size-lg: 70px;
}

.icon-responsive {
    width: var(--icon-size-sm);
    height: var(--icon-size-sm);
}

.icon-circle {
    background: var(--bs-primary);
    
    display: flex;
    justify-content: center;
    align-items: center;

    width: 60px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 25%;

    transition: all 0.3s ease;
    
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.row .col:nth-child(3n+1) {
    .icon-circle {
        background: var(--bs-primary);
    }

    .card {
        --bs-border-color: var(--bs-primary);
    }
}

.row .col:nth-child(3n+2) {
    .icon-circle {
        background: var(--bs-secondary);
    }

    .card {
        --bs-border-color: var(--bs-secondary) !important;
    }
}

.row .col:nth-child(3n+3) {
    .icon-circle {
        background: var(--bs-tertiary);
    }

    .card {
        --bs-border-color: var(--bs-tertiary);
    }
}
