#links .grid.link-list {
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
}

#links .home-card.link-card {
    padding: 1.5rem;
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    border-left: 0.3rem solid transparent;
    transition: all 0.3s ease;
}

#links .home-card.link-card .image {
    margin-right: 2rem;
    filter: grayscale(100%);
}

#links .home-card.link-card .image.image-font {
    font-size: 80px;
    max-height: 80px;
    max-width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#links .home-card.link-card .image.image-pic {
    width: 80px;
    height: 80px;
    object-fit: cover;
    object-position: 100% 0%;
}

#links .home-card.link-card:hover {
    transform: translateY(-5px);
    border-left-color: var(--tertiary);
}

#links .home-card.link-card h3 {
    margin-top: 0;
    margin-bottom: .5rem;
    font-size: 1.25rem;
    transition: color 0.3s ease;
}

#links .home-card.link-card:hover h3 {
    color: var(--accent);
}

#links .home-card.link-card p {
    color: var(--text-light);
    font-size: .95rem;
    margin: 0;
}
